[general]
use_config=Abfallwirtschaft_Hohenlohekreis

[Abfallwirtschaft_Hohenlohekreis]
types=Restmüll,BETty,Christbaum,Leichtverpackungen,Altpapier

[Abfallwirtschaft_Ortenaukreis]
types=Gelber Sack,Graue Tone,Grüne Tonne,Strauchgutabfuhr,Kreisputzete,Sperrmüll,Problemabfall

[Landkreis_Heilbronn]
types=Bioabfall,Papiertonne,Restmüll,Schadstoffe
